*{
    margin: 0;
    padding: 0;
    font-family: 'SpoqaHanSansNeo-Regular.otf', 'sans-serif';
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #212121;
}
li{
    list-style: none;
}
p{
    font-size: 16px;
    color: #212121;
    letter-spacing: -0.5px;
}
#wrap{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
h2{
    font-size: 32px;
}

/* 헤더 */
header{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    position: fixed;
    z-index: 10;
}
/* header.no-shadow{
    box-shadow: none;
} */
.header_wrap{
    display: flex;
    background-color: #ffffff;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}
.logo_h{
    width: 50px;
    height: 50px;
    margin: 0 6.7vw 0 13.5vw;
}
.gnb{
    display: flex;
    width: 670px;
    background-color: transparent;
    justify-content: space-between;
}
.gnb > li > a{
    padding: 10px;
    display: inline-block;
    position: relative;
}
.gnb > li > a::after{
    border-bottom: 2px solid #212121;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0;
}
.gnb > li:hover a::after{
    width: 80%;
    content: "";
}
.gnb > li:hover > a{
    font-weight: 600;
}
.search_box{
    width: 214px;
    height: 45px;
    background-color: #f2f2f2;
    border-radius: 30px;
    display: flex;
    margin-left: 18.5vw;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.search_box>input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 80%;
}
.search_box>button{
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 4px;
}

/* 헤더 서브메뉴 */
.submenu{
    margin-top: 58px;
    position: absolute;
    z-index: 2;
}
.submenu>li>a{
    padding: 10px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: -0.5px;
}
.submenu>li>a:hover{
    font-weight: 600;
}

.submenu_wrap{
    width: 100%;
    height: 250px;
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 0;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.05);
}

/* 메인 */
main{
    width: 100%;
    height: fit-content;
}
.sec01{
    width: 100%;
    height: 900px;
}
.sec01 a{
    width: 100%;
    height: 100%;
}
.sec01 a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 섹션2 */
.sec02{
    width: 100%;
    height: 794px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.sec02_wrap{
    width: 1400px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 94px 0 84px 0;
}
.category{
    width: 676px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.category h2{
    float: left;
    font-weight: 800;
    margin-right: 36px;
}
.category ul{
    width: 514px;
    height: auto;
    justify-content: space-between;
    display: flex;
}
.category ul li{
    float: left;
    cursor: pointer;
}
.more_btn{
    width: 65px;
    height: 24px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.more_btn img{
    width: 15px;
    height: 13px;
    margin-top: 1px;
}
.slide_wrap{
    width: 1400px;
    height: 452px;
    overflow: hidden;
    z-index: 1;
    display: block;
}
.slide_box{
    width: 3935px;
    height: 100%;
    display: flex;
    justify-content: first baseline;
    align-items: center;
}
.main_book{
    width: 665px;
    height: 430px;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.1);
    padding: 20px 24px;
    transition: 0.5s;
    float: left;
    margin-right: 30px;
    /* margin-left: 10px; */
    z-index: 3;
    position: relative;
}
.main_book:hover{
    transform: scale(1.02);
}
.main_book > a{
    width: 288px;
    height: 390px;
    float: left;
    margin-right: 34px;
}
.main_book > a > img{
    width: 100%;
    height: 100%;
}
.book_detail{
    width: 285px;
    height: 410px;
    background-color: #ffffff;
    position: absolute;
    top: 20px;
    right: 24px;
    display: none;
    padding-right: 34px;
    padding-top: 14px;
}
.book_detail.visible{
    display: block;
}
.book_detail h3{
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
    word-wrap: break-word;
    word-break: keep-all;
    max-width: 100%;
}
.book_detail p{
    font-size: 14px;
    white-space: pre-line;
    line-height: 24px;
}
.book_detail .book_intro{
    white-space: normal;
    word-wrap: break-word;
    word-break: keep-all;
}
.book_detail > p:nth-child(2){
    margin-bottom: 34px;
}
.book_detail .btn{
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    left: 0;
    bottom: 35px;
    display: block;
}
.book_detail .btn:active{
    background-color: rgba(0, 0, 0, 0.05);
}
.book_detail .btn img{
    width: 100%;
    height: 100%;
}
.sub_book{
    width: 2600px;
    height: 350px;
    float: left;
    transform: translate(-235px);
}
.sub_book_box{
    float: left;
    width: 200px;
    height: 100%;
    transition: 0.5s;
    margin-right: 40px;
}
.sub_book_box:hover{
    transform: scale(1.03);
}
.sub_book_box a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sub_book_box a img{
    margin-bottom: 24px;
    width: 200px;
    height: 280px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}
.sub_book_box a p{
    margin-bottom: 8px;
    font-weight: 600;
    height: 24px;
    overflow: hidden;
}
.sub_book_box a span{
    font-size: 14px;
    line-height: 1;
}
.sub_book_box:last-child{
    margin-right: 0;
}
.slide_btn{
    width: 1554px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 54%;
}
.slide_btn button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.slide_btn button:active{
    filter: brightness(95%);
}


/* 섹션3 */
.sec03{
    background-color: #f5f5f5;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec03_wrap{
    width: 1400px;
    height: 430px;
    display: flex;
    justify-content: space-between;
}
.sec_intro{
    width: 284px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.notice{
    width: 1030px;
    height: 426px;
    height: 100%;
}
.notice_box{
    width: 100%;
    height: 80px;
    margin: 30px 0;
}
.notice_box a{
    width: 100%;
    height: 100%;
    display: block;
}
.notice_box a .type{
    float: left;
    background-color: #d9d9d9;
    width: 48px;
    height: 24px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}
.notice_box a p{
    width: 630px;
    font-weight: 500;
    float: left;
    
}
.notice p span{
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
    width: 100%;
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.notice_box .date{
    float: right;
    font-size: 14px;
}
.notice .hr_bold{
    background-color: #999999;
}
.notice hr{
    background-color: #d6d6d6;
    border: none;
    height: 1px;
}

/* 섹션4 */
.sec04{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec04_wrap{
    width: 1400px;
    height: 510px;
    display: flex;
    justify-content: space-between;
}
.periodical_wrap{
    width: 1034px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.periodical_box{
    width: 280px;
    height: 100%;
    transition: 0.5s;
}
.periodical_box:hover{
    transform: scale(1.03);
}
.periodical_box a img{
    width: 100%;
    height: 414px;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.periodical_box a{
    display: block;
    width: 100%;
    height: 100%;
}
.periodical_box a p{
    font-size: 18px;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 16px;
    line-height: 1;
}
.periodical_box a span{
    font-size: 16px;
}

/* 섹션5 */
.sec05{
    width: 100%;
    height: 600px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec05_wrap{
    width: 1300px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec05_wrap a{}
.moonjiletter_video img{
    height: 100%;
    width: 780px;
    object-fit: cover;
}
.moonjiletter{
    width: 400px;
    height: 286px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.moonjiletter p{
    white-space: pre-line;
    
}
.signup_btn {
    display: block;
    width: 220px;
    height: 50px;
    border: 1px solid #212121;
    display: flex;
    align-items: center;
    justify-content: center;

}
.signup_btn img{
    width: 18px;
    height: 18px;
    margin-top: 2px;
}
.signup_btn:active{
    background-color: #e8e8e8;
}

/* 푸터 */
footer{
    width: 100%;
    height: 420px;
    border-top: 1px solid #d7d7d7;
}
.footer_left{
    width: 1160px;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px 20px 0;
}
.footer_left_box{
    width: 520px;
    height: 260px;
    display: flex;
    flex-direction: column;
}
.footer_left_box h4{
    width: 100px;
    height: 100px;
    margin-bottom: 24px;
}
.footer_left_box h4 img{
    width: 100%;
    height: 100%;
}
.footer_nav{
    margin-bottom: 36px;
}
.footer_nav a{
    float: left;
    font-weight: bold;
}
.footer_nav span{
    float: left;
    margin: 0 4px;
    font-size: 14px;
    font-weight: bold;
}
.copyright p{
    white-space: pre-line;
    line-height: 1;
}

.footer_right{
    width: calc(100% - 1160px);
    height: 100%;
    float: left;
    border-left: 1px solid #d7d7d7;
    padding: 0 140px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_right_box{
    width: 312px;
    height: 260px;
    display: flex;
    flex-direction: column;
}
.footer_brand{
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 40px;
}
.footer_page{
    display: flex;
    align-items: center;
}
.footer_page:nth-child(2){
    margin-bottom: 12px;
}
.footer_page p{
    font-size: 18px;
}
.footer_page img{
    width: 20px;
    height: 18px;
    margin-top: 4px;
    object-fit: cover;
}
.footer_sns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 58px;
}
